body {
	background-color: #edbcd2;
	background: linear-gradient(#ecbcd2, white);
    height: 1500px;
}

div {
	background-color: rgb(239, 199, 217);
	padding: 0px;
}

main {
	padding: 10px;
}

.fancy-header {
	background: url("../images/bg_01.png");
	background-repeat: no-repeat;
	background position: top center;
	background-size: cover;
	height: 400px;
	position: relative;
}

.fancy-header h1 {
	position: absolute;
	bottom: 0;
	font-size: 12vw;
	font-family: 'Overlock', cursive;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.89);
}

.fancy-header h2 {
    position: absolute;
    bottom: 68px;
    font-size: 8vw;
    font-family: 'Jolly Lodger', cursive;
    color: black;
}

.container {
	width: 75%;
	margin: 0 auto;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
}

.game {
	background-color: rgba(255, 255, 255, 0.25);
	padding: 10px;
	clear: both;
}

.invisible-word {
	border-bottom: 1px solid #ffffff;
	width: 5px;
	float: left;
}

.invisible-container {
	/* float: left; */
}

.game-current-word {
	/* width: 50px; */
	padding: 10px;
	/* float: left */
}

.game-guesses-remaining {
	clear: both;
}

.game-guesses-letters {
	clear: both;
}

.letter-container {
    width: 15px;
    float: left;
    margin: 4px;
    padding: 2px;
    border-bottom: 1px solid #ffffff;
}

.hide {
	visibility: hidden;
}